.bulbasaur.container
  %ul{:id => "blog_posts"}
    - @section.posts.each do |post|
      %li
        - @post = settings.memcached.get(post) 
        %a{:href => @post.name} #{@post.title}
        %p #{@post.summary}
