#page
  .page-content
    %header.nav-bar
      .nav-links.container
        %ul
          %li 
            %a{:href => "https://drive.google.com/file/d/0B3c92TuJgSoDQnphQzl3UHJUNXJjblQ5R1M5a21lRTU5T0VZ/edit?usp=sharing"} resume
          %li 
            %a{:href=>"https://github.com/bambery"} github
          %li 
            %a{:href=>"mailto:lwszolek@gmail.com"} contact


