#page
  .index
    %header.nav-bar
      .nav-links.container
        %ul
          %li resume
          %li github
          %li contact
    .hero
      .container
        %h1#hero-title something wicked this way codes 
        %p#name Lauren Wszolek
        %p Ruby Developer, UX engineer, Amateur Detective 
    .dev.container
      .col-content
        %h2 Dev
        %h3 used on this site
        %ul
          %li github
          %li ruby 2.1
          %li sinatra 
          %li memcached
          %li open source gem
          %li s3 integration
          %li rspec 
        %h3 not pictured here
        %ul
          %li ruby on rails
          %li psql 
          %li cucumber (working on it)
    .contact.container
      %ul
        %li#phone 1 312 545 0976
        %li#email lwszolek@gmail.com
