.main-content.top-mini-nav.container
  %ul.contact.pull-right
    %li#phone +1 312 545 0976
    %li#email lwszolek@gmail.com
  %ul.sitelinks
    %li About  
    %li Skills 
    %li Projects 
    %li Sundry
%header.hero
  .container 
    %h1 Something Wicked This Way Codes 
%div.main-content.container
  .row
    %div.mercury
      this is links or something
      gdjgfhadfg
      fdgdfsgsdfhg
      fdgdfsgdsfg
      dfsgdsfgdfsg
      dsfkd jsfkldjs gfkjdfak gjdlkfjl dskajfl kdsajff dfjsdalkfj sdf sdlfkj sdlkfj sdflj sdlfkj sdl fjsdl fsdfj sdlkf dsf sdlkf sldk flsdjf lksdfl sdlfjsdl fds ds fsdak
      blah blah blah
