.page
  %header.page-header
    %h1 Something Wicked This Way Codes 
  .hero
    .hero-title
      %p Ux title
    .hero-subtitle
      %p blah blah blah
  .intro-text
    %p See more about how I made this site
    .buttons-nav
      %a.dev-button Dev
        
      %a.ux-button UX
      %a.about-me-button About Me
  .contact
    %ul
      %li#phone 1 312 545 0976
      %li#email lwszolek@gmail.com


