#page
  .work-speciality
    .hero
      .hero-name
        %h1 I'm Lauren,
      .hero-subtitle
        %h1 a Software Developer
    .lede
      %p I build solo and team driven web applications in Ruby on Rails or Sinatra with an agile and iterative approach.
    %section
      %ul.task-list
        %li.item
          %h1.title Halb 
          %p.summary blah blah blah
        %li.task-item
          %h1.title Oof
          %p.summary foo foo foo 

