// Base variables and mixins pulled out for easy access 
//@import "variables";
@import "mixins";
//
// CSS reset 
@import "normalize";

#page {
  margin: 30px auto;
  width: 90%;
}

h1 {
  color:blue;
}
